<h1><span data-i18n="skills.my_skills">Hakkında</span></h1>

<div>
    1982 yılında Ankara'da doğdu. Eğitimini Ankara ve İstanbul'da tamamladı.
    Doktorasını tamamladıktan sonra Muğla'ya yerleşti. Yaramaz bir kız çocuğununun babası.
    İngilizce ve Franszıca biliyor, İtalyanca ve Latince öğrenmeye çalışıyor. Termodinamiğe,
    özellikle ısıl sistemlerin modellenmesi ve simülasyonlarına bayılır.
</div>