<h1><span data-i18n="skills.my_skills">Projeler</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <h2 style="margin: 0">{{ project.name }}</h2>
                <p style="margin: 0">{{ project.descr }}</p>

                {% if project.gitlab %}
                <a href="{{ project.gitlab }}" target="_blank"><i class="fa fa-fw fa-gitlab"></i>GitLab</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Ana sayfa</a>
                {% endif %}

            </div>
    </div>
{% endfor %}