<footer>
  &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Kaputun altında <a href="http://jekyllrb.com/">Jekyll</a> ve <a href="http://github.com/renyuanz/leonids/">leonids theme</a> yatıyor <i class="fa fa-heart heart-icon"></i>
</footer>
